.App {
  text-align: center;
}

select {
  background-color: lightgreen;
}

option:not(:checked) {
  background: red;
}

.greenColor {
  background-color: #33CC33;
}

select {
  background: rgb(194, 222, 209);
  border: 3px solid rgb(84, 73, 116);
  width: 300px;
  height: 30px;
  font-size: large;
}

.frm-login {
  max-width: 50%;
  margin-left: 25%;
}



